body{
    background:url(./download.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center ;
    height:300px;
Width:100%;

}
form{
     background:url(./logo.jpeg);
    background-repeat: no-repeat;
    background-size:80%;
    background-position:top;
    display:flexbox;
    margin-top: 150px;
    justify-content:center ;
    align-items: center;
    text-align: center;
    font-size:20px;
    font-weight: 900;
    border-style: solid;
    border-width: 3px;
    width:20%;
    margin-left: 900px;
    border-color:black;
    border-radius:20px;
   
    
   
    
    
}
.user{
    margin-right: 40px;
    color:rgba(0,0,0,0.7);
}
.pass{
    margin-right: 40px;
    color:rgba(0,0,0,0.7);
}
.cap{
    margin-right: 90px;
    color:rgba(0,0,0,0.7);
}
.butt{
    margin-left:5px;
    background-color:rgba(0,0,255,0.8);
    border-style: solid;
    border-width: 2px;
    border-radius:20px;
    outline-style: dotted;
    outline-width: 2px;
    outline-offset:-5px;
    width:165px;
}
.in{
    
    text-align:center ;
    border-style: dotted;
    border-width: 0ch;
    padding-right:65px ;
    text-transform: lowercase;
    font-size:33px;


   

}


    
    
